{% extends 'main/layout.html' %}

{% block content %}

<h1 align="center">{{ article.title }}</h1>

<div class="card">
  <div class="card-header">
    {{ article.time_create }}
  </div>

    {% if article.image %}
    <img src="{{ article.image.url }}" class="rounded mx-auto d-block" width="300">
    {% endif %}

  <div class="card-body">

    <p class="card-text">{{ article.content|linebreaks }}</p>

  </div>
</div>

{% if user.is_superuser %}
<div class="container" align="right" style="margin-top: 3px">
  <a href="{% url 'update_article' article.slug %}" class="btn btn-outline-secondary btn-sm">Редактировать</a>
  <a href="{% url 'delete_article' article.slug %}" class="btn btn-outline-danger btn-sm">Удалить</a>
</div>
{% endif %}


<p align="center"><em>Комментарии:</em></p>

{% for el in article.comments_articles.all %}
<figure>
  <blockquote class="blockquote">
    <p>{{ el.comment }}</p>
  </blockquote>
  <figcaption class="blockquote-footer">
    {{ el.time_create }}, <cite title="Source Title">{{ el.author }}</cite>
  </figcaption>
</figure>
 {% endfor %}


{% if user.is_active %}
<hr>
<form method="post">
  {% csrf_token %}
    {{ form.as_p }}
  <div class="form-error">{{ form.errors }}</div>
    <input type="submit" class="btn btn-outline-secondary btn-sm" value="Добавить">
</form>

{% else %}
<p align="center"><em>Чтобы оставлять комментарии, необходимо авторизоваться!</em></p>

{% endif %}


{% endblock %}