{% extends 'main/layout.html' %}

{% block content %}

<h1>{{ article.title }}</h1>
<hr>

<div class="card">
  <div class="card-header">
    {{ article.time_create }}
  </div>

    {% if article.image %}
    <img src="{{ article.image.url }}" class="rounded mx-auto d-block" width="300">
    {% endif %}

  <div class="card-body">

    <p class="card-text">{{ article.content|linebreaks }}</p>

  </div>
</div>

{% if user.is_superuser %}
<a href="{% url 'update_article' article.slug %}" class="btn btn-primary btn-sm">Редактировать</a>
<a href="{% url 'delete_article' article.slug %}" class="btn btn-primary btn-sm">Удалить</a>
{% endif %}

{% endblock %}