{% extends 'main/layout.html' %}

{% block content %}

<h1>{{ article.title }}</h1>
<hr>

<div class="card">
  <div class="card-header">
    {{ article.time_create }}
  </div>

    {% if article.image %}
    <img src="{{ article.image.url }}" class="rounded mx-auto d-block" width="300">
    {% endif %}

  <div class="card-body">

    <p class="card-text">{{ article.content|linebreaks }}</p>

  </div>
</div>

{% if user.is_superuser %}
<div class="container" align="right" style="margin-top: 3px">
  <a href="{% url 'update_article' article.slug %}" class="btn btn-outline-secondary btn-sm">Редактировать</a>
  <a href="{% url 'delete_article' article.slug %}" class="btn btn-outline-danger btn-sm">Удалить</a>
</div>
{% endif %}


<p align="center"><em>Комментарии:</em></p>

{% if article.comments_articles %}
 {% for el in article.comments_articles.all %}
  {{ el.author }}
  {{ el.time_create }}
  {{ el.comment }}
 {% endfor %}

{% else %}
<p align="center"><em>Комментарии:</em></p>

{% endif %}


{% if user.is_active %}
<form method="post">
  {% csrf_token %}
    {{ form.as_p }}
  <div class="form-error">{{ form.errors }}</div>
    <input type="submit" class="btn btn-outline-secondary btn-sm" value="Добавить коммент">
</form>
{% endif %}

{% endblock %}